[
{
id: 7,
email: "haeeun.jung@emotion.co.kr",
name: "정해은",
department: "재무팀",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "haeeun-jung",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 28,
email: "yunbin.kim@emotion.co.kr",
name: "김윤빈",
department: "CP1본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yunbin-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 114,
email: "joohee.jeong@emotion.co.kr",
name: "정주희",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "joohee-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 48,
email: "sungwon.ahn@emotion.co.kr",
name: "안성원",
department: "CP2본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sungwon-ahn",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 101,
email: "hyunmi.song@emotion.co.kr",
name: "송현미",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyunmi-song",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 116,
email: "doeun.kim@emotion.co.kr",
name: "김도은",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "doeun-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 81,
email: "jinah.yun@emotion.co.kr",
name: "윤진아",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jinah-yun",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 22,
email: "doha.kim@emotion.co.kr",
name: "김도하",
department: "SP본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "doha-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 16,
email: "bongkyeong.son@emotion.co.kr",
name: "손봉경",
department: "CX본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "bongkyeong-son",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 79,
email: "jisun.jang@emotion.co.kr",
name: "장지선",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jisun-jang",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 38,
email: "mijoo.choi@emotion.co.kr",
name: "최미주",
department: "CD1본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "mijoo-choi",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 92,
email: "joosung.yeum@emotion.co.kr",
name: "염주성",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "joosung-yeum",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 3,
email: "ldy@emotion.co.kr",
name: "이득용",
department: "운영총괄",
level: "상무이사",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "ldy",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 106,
email: "hyeonjin.yang@emotion.co.kr",
name: "양현진",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyeonjin-yang",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 2,
email: "seungjin.kang@emotion.co.kr",
name: "강승진",
department: "사업대표",
level: "사업대표",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seungjin-kang",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 63,
email: "hyuneui.lee@emotion.co.kr",
name: "이현의",
department: "CM본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyuneui-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 23,
email: "haeju.jeong@emotion.co.kr",
name: "정해주",
department: "SP본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "haeju-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 95,
email: "jaepil.choi@emotion.co.kr",
name: "최재필",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jaepil-choi",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 57,
email: "jeongmin.you@emotion.co.kr",
name: "유정민",
department: "CM본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jeongmin-you",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 113,
email: "soohyeon.lee@emotion.co.kr",
name: "이수현",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "soohyeon-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 89,
email: "seojin.kim@emotion.co.kr",
name: "김서진",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seojin-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 124,
email: "yumi.so@emotion.co.kr",
name: "소유미",
department: "CM본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yumi-so",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 86,
email: "yura.lee@emotion.co.kr",
name: "이유라",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yura-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 76,
email: "jonghyeon.kim@emotion.co.kr",
name: "김종현",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jonghyeon-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 35,
email: "yeji.shin@emotion.co.kr",
name: "신예지",
department: "CP1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yeji-shin",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 58,
email: "minsu.heo@emotion.co.kr",
name: "허민수",
department: "CM본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "minsu-heo",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 69,
email: "youngJu.ko@emotion.co.kr",
name: "고영주",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "youngJu-ko",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 56,
email: "hyunsu.kim@emotion.co.kr",
name: "김현수",
department: "CM본부",
level: "본부장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyunsu-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 39,
email: "Yuhyun.Park@emotion.co.kr",
name: "박유현",
department: "CD1본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "Yuhyun-Park",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 100,
email: "eunyu.ji@emotion.co.kr",
name: "지은유",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "eunyu-ji",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 72,
email: "dasom.lee@emotion.co.kr",
name: "이다솜",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "dasom-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 78,
email: "jungeun.kim@emotion.co.kr",
name: "김정은",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jungeun-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 4,
email: "seungcheol.jeong@emotion.co.kr",
name: "정승철",
department: "인사총무팀",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seungcheol-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 11,
email: "dongwoo.kim@emotion.co.kr",
name: "김동우",
department: "CX본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "dongwoo-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 27,
email: "junhan.lee@emotion.co.kr",
name: "이준한",
department: "CP1본부",
level: "본부장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "junhan-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 99,
email: "kyoungbeen.seo@emotion.co.kr",
name: "서경빈",
department: "CT본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "kyoungbeen-seo",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 12,
email: "yonggu.kim@emotion.co.kr",
name: "김용구",
department: "CX본부",
level: "PD",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yonggu-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 85,
email: "ain.lee@emotion.co.kr",
name: "이아인",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "ain-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 77,
email: "jaewon.jun@emotion.co.kr",
name: "전재원",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jaewon-jun",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 19,
email: "sehei.chung@emotion.co.kr",
name: "정세희",
department: "CX본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sehei-chung",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 65,
email: "songmi.kim@emotion.co.kr",
name: "김송미",
department: "CM본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "songmi-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 29,
email: "jina.kim@emotion.co.kr",
name: "김진아",
department: "CP1본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jina-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 104,
email: "hyunwoo.lee@emotion.co.kr",
name: "이현우",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyunwoo-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 119,
email: "seongjae.ryu@emotion.co.kr",
name: "류성재",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seongjae-ryu",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 71,
email: "seulki.kim@emotion.co.kr",
name: "김슬기",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seulki-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 36,
email: "meeteum.son@emotion.co.kr",
name: "손믿음",
department: "CP1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "meeteum-son",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 17,
email: "sungeun.sohn@emotion.co.kr",
name: "손성은",
department: "CX본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sungeun-sohn",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 26,
email: "yuseok.seo@emotion.co.kr",
name: "서유석",
department: "BT1부문",
level: "부문장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yuseok-seo",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 21,
email: "yoonhye.kim@emotion.co.kr",
name: "김윤혜",
department: "SP본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yoonhye-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 125,
email: "jeonghyene.seong@emotion.co.kr",
name: "성정현",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jeonghyene-seong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 98,
email: "sunghwan.kwon@emotion.co.kr",
name: "권성환",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sunghwan-kwon",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 37,
email: "sunwoo.park@emotion.co.kr",
name: "박선우",
department: "CD1본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sunwoo-park",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 14,
email: "hyeonsoo.jang@emotion.co.kr",
name: "장현수",
department: "CX본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyeonsoo-jang",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 123,
email: "minhee.hong@emotion.co.kr",
name: "홍민희",
department: "CP2본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "minhee-hong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 24,
email: "soojin.an@emotion.co.kr",
name: "안수진",
department: "SP본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "soojin-an",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 59,
email: "junhyung.kim@emotion.co.kr",
name: "김준형",
department: "CM본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "junhyung-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 1,
email: "bkchoi@emotion.co.kr",
name: "최복규",
department: "대표이사",
level: "대표이사",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "bk-choi",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 6,
email: "heejin.han@emotion.co.kr",
name: "한희진",
department: "인사총무팀",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "heejin-han",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 54,
email: "hanbyeol.kim@emotion.co.kr",
name: "김한별",
department: "CP2본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hanbyeol-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 8,
email: "soyoung.ahn@emotion.co.kr",
name: "안소영",
department: "재무팀",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "soyoung-ahn",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 127,
email: null,
name: null,
department: "CM본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyuneui-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 49,
email: "jaeeun.jung@emotion.co.kr",
name: "정재은",
department: "CP2본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jaeeun-jung",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 70,
email: "okseok.lee@emotion.co.kr",
name: "이옥석",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "okseok-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 91,
email: "jeongsoon.kim@emotion.co.kr",
name: "김정순",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jeongsoon-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 47,
email: "jaeyong.ahn@emotion.co.kr",
name: "안재용",
department: "CP2본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jaeyoung-ahn",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 66,
email: "Jeongnyeon.Seong@emotion.co.kr",
name: "성정년",
department: "CM본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "Jeongnyeon-Seong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 52,
email: "yb.kim@emotion.co.kr",
name: "김유빈",
department: "CP2본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yb-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 90,
email: "kiyoung.lee@emotion.co.kr",
name: "이기영",
department: "CT본부",
level: "본부장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "kiyoung-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 96,
email: "raeseob.park@emotion.co.kr",
name: "박래섭",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "raeseob-park",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 83,
email: "jimin.lee@emotion.co.kr",
name: "이지민",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jimin-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 10,
email: "joowon.lee@emotion.co.kr",
name: "이주원",
department: "CX본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "joowon-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 9,
email: "sungsoo.oh@emotion.co.kr",
name: "오성수",
department: "CX본부",
level: "본부장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sungsoo-oh",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 105,
email: "sora.lee@emotion.co.kr",
name: "이소라",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sora-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 43,
email: "hyeran.park@emotion.co.kr",
name: "박혜란",
department: "CD1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyeran-park",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 97,
email: "hyoungwook.kim@emotion.co.kr",
name: "김형욱",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyoungwook-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 33,
email: "seonyeong.an@emotion.co.kr",
name: "안선영",
department: "CP1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seonyeong-an",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 107,
email: "jieun.kim@emotion.co.kr",
name: "김지은",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jieun-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 40,
email: "suji.lee@emotion.co.kr",
name: "이수지",
department: "CD1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "suji-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 74,
email: "seonghui.shin@emotion.co.kr",
name: "신성희",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seonghui-shin",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 50,
email: "donggun.yun@emotion.co.kr",
name: "윤동건",
department: "CP2본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "donggun-yun",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 15,
email: "hyemi.kim@emotion.co.kr",
name: "김혜미",
department: "CX본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyemi-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 20,
email: "jihyun.ahn@emotion.co.kr",
name: "안지현",
department: "SP본부",
level: "본부장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jihyun-ahn",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 18,
email: "jisu.hong@emotion.co.kr",
name: "홍지수",
department: "CX본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jisu-hong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 94,
email: "wonsuk.suk@emotion.co.kr",
name: "석원석",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "wonsuk-suk",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 110,
email: "jiyun.lim@emotion.co.kr",
name: "임지연",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jiyun-lim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 121,
email: "eunjung.lee@emotion.co.kr",
name: "이은정",
department: "재무팀",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "eunjung-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 122,
email: "jisun.song@emotion.co.kr",
name: "송지선",
department: "CD1본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jisun-song",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 51,
email: "sangui.yu@emotion.co.kr",
name: "유상의",
department: "CP2본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sangui-yu",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 88,
email: "minju.kim@emotion.co.kr",
name: "김민주",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "minju-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 103,
email: "soyeon.kim1@emotion.co.kr",
name: "김소연",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "soyeon-kim1",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 64,
email: "songhee.park@emotion.co.kr",
name: "박송희",
department: "CM본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "songhee-park",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 41,
email: "jeongah.kim@emotion.co.kr",
name: "김정아",
department: "CD1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jeongah-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 45,
email: "seungwon.jeong@emotion.co.kr",
name: "정승원",
department: "CD1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seungwon-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 82,
email: "daun.jeong@emotion.co.kr",
name: "정다운",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "daun-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 42,
email: "seri.yoo@emotion.co.kr",
name: "유세리",
department: "CD1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seri-yoo",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 126,
email: "inhan.kang@emotion.co.kr",
name: "강인한",
department: "CT본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "inhan-kang",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 68,
email: "hyeri.lee@emotion.co.kr",
name: "이혜리",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyeri-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 30,
email: "euijeong.yi@emotion.co.kr",
name: "이의정",
department: "CP1본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "euijeong-yi",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 102,
email: "Jungmin.Lee@emotion.co.kr",
name: "이정민",
department: "CT본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "Jungmin-Lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 93,
email: "seongyong.kim@emotion.co.kr",
name: "김성용",
department: "CT본부",
level: "책임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seongyong-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 111,
email: "minjae.kim@emotion.co.kr",
name: "김민재",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "minjae-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 34,
email: "minyeong.kim@emotion.co.kr",
name: "김민영",
department: "CP1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "minyeong-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 32,
email: "jeongok.cho@emotion.co.kr",
name: "조정옥",
department: "CP1본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jeongok-cho",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 31,
email: "harin.kim@emotion.co.kr",
name: "김하린",
department: "CP1본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "harin-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 75,
email: "yumi.lee@emotion.co.kr",
name: "이유미",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yumi-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 117,
email: "hansin.cho@emotion.co.kr",
name: "조한신",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hansin-cho",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 5,
email: "youngsun.kim@emotion.co.kr",
name: "김영선",
department: "인사총무팀",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "youngsun-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 84,
email: "suji.jeong@emotion.co.kr",
name: "정수지",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "suji-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 87,
email: "jeongyeon.kim@emotion.co.kr",
name: "김정연",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jeongyeon-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 115,
email: "HyungJin.Lee@emotion.co.kr",
name: "이형진",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "HyungJin-Lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 73,
email: "chaerim.byun@emotion.co.kr",
name: "변채림",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "chaerim-byun",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 53,
email: "sojin.yoon@emotion.co.kr",
name: "윤소진",
department: "CP2본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sojin-yoon",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 60,
email: "seunghyun.lee@emotion.co.kr",
name: "이승현",
department: "CM본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seunghyun-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 80,
email: "yeseul.koo@emotion.co.kr",
name: "구예슬",
department: "CM본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yeseul-koo",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 13,
email: "minjun.jeon@emotion.co.kr",
name: "전민준",
department: "CX본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "minjun-jeon",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 61,
email: "eunyoung.sa@emotion.co.kr",
name: "사은영",
department: "CM본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "eunyoung-sa",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 67,
email: "naeun.kim@emotion.co.kr",
name: "김나은",
department: "CM본부",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "naeun-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 112,
email: "hyunsun.ahn@emotion.co.kr",
name: "안현선",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hyunsun-ahn",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 109,
email: "meeyoung.choi@emotion.co.kr",
name: "최미영",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "meeyoung-choi",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 55,
email: "junyeol.park@emotion.co.kr",
name: "박준열",
department: "CP2본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "junyeol-park",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 44,
email: "sungmin.kim@emotion.co.kr",
name: "김성민",
department: "CD1본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "sungmin-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 120,
email: "hana.oh@emotion.co.kr",
name: "오하나",
department: "인사총무팀",
level: "리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hana-oh",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 46,
email: "heetaek.jeong@emotion.co.kr",
name: "정희택",
department: "CP2본부",
level: "본부장",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "heetaek-jeong",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 62,
email: "yubin.kim@emotion.co.kr",
name: "김유빈",
department: "CM본부",
level: "선임리더",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "yubin-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 25,
email: "hosuk.lee@emotion.co.kr",
name: "이호석",
department: "SP본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "hosuk-lee",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 118,
email: "jihyeon.kim@emotion.co.kr",
name: "김지현",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "jihyeon-kim",
memberId: null,
imagePath: "img/211216/",
eventRank: null
},
{
id: 108,
email: "seungki.min@emotion.co.kr",
name: "민승기",
department: "CT본부",
level: "팀원",
what: null,
after: null,
hobby: null,
want: null,
mbti: null,
idImage: "seungki-min",
memberId: null,
imagePath: "img/211216/",
eventRank: null
}
]